body{
    text-align: center;
    background-color :#818cf8;
    color: rgb(51, 2, 84);
}

input, label{
    display: block;
    margin: 1rem auto;
    font-size: large;
}

input{
    padding: 1rem 1.5rem;
}

button{
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 0.6rem;
    border-color: azure;
    font-size: medium;
}

button:hover{
    background-color: #818cf8;
    border-color: darkblue;
    color: azure;
    font-weight: bold;
}




